@import url("https://fonts.googleapis.com/css?family=Teko:700&display=swap");

.App {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #282c34;
}

/* .App-signin{
  display: flexbox;
  justify-content: center;
  align-items: center;
} */

.App-signin-header{
  color: #4db1bc;
  font-size: 7em;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
  margin-bottom: .3em;
}

.App-signin-button{
  background-color: #4185f5;
  width: 12em;
  height: 2.5em;
  display: inline-flex;
  border: 0;
  color: white;
  justify-content: center;
  align-items: center;
  padding: .1em;
  padding-right: .3em;
  font-size: 1.25em;
  cursor: pointer;
}

.App-signin-button:hover{
  transform: translateY(-.15em);
  box-shadow: 0 0.5em 0.5em -.4em #4185f5;
}

.App-signin-image{
  background-color: white;
  margin-right: .5em;
  margin-left: 0%;
  width:  2em;
  height: 2em;
}




@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}